{{#if signals.topLanguages}}
<h2>Languages</h2>
{{#each signals.topLanguages}}
<div class="lang-row">
  <div class="lang-meta"><span>{{language}}</span><span>{{percentage}}%</span></div>
  <div class="bar"><div class="bar-fill" style="width:{{percentage}}%"></div></div>
</div>
{{/each}}
{{/if}}
