<h2>Your Rhythm</h2>
<div class="heatmap">
  {{#each signals.hourDistribution}}
    <div class="heatmap-cell" style="opacity:{{heatOpacity count ../maxHourCount}}" title="{{formatHour hour}}: {{count}} commits"></div>
  {{/each}}
</div>
<div class="heatmap-axis">
  <span>12am</span><span>6am</span><span>12pm</span><span>6pm</span><span>11pm</span>
</div>
